themes {
    current {
        text_unselected {
            base 141 255 213
            background 132 131 138
            emphasis_0 220 152 141
            emphasis_1 139 204 176
            emphasis_2 99 216 159
            emphasis_3 236 166 248
        }
        text_selected {
            base 141 255 213
            background 132 131 138
            emphasis_0 220 152 141
            emphasis_1 139 204 176
            emphasis_2 99 216 159
            emphasis_3 236 166 248
        }
        ribbon_selected {
            base 132 131 138
            background 99 216 159
            emphasis_0 255 169 152
            emphasis_1 220 152 141
            emphasis_2 236 166 248
            emphasis_3 168 190 255
        }
        ribbon_unselected {
            base 132 131 138
            background 141 255 213
            emphasis_0 255 169 152
            emphasis_1 141 255 213
            emphasis_2 168 190 255
            emphasis_3 236 166 248
        }
        table_title {
            base 99 216 159
            background 0
            emphasis_0 220 152 141
            emphasis_1 139 204 176
            emphasis_2 99 216 159
            emphasis_3 236 166 248
        }
        table_cell_selected {
            base 141 255 213
            background 132 131 138
            emphasis_0 220 152 141
            emphasis_1 139 204 176
            emphasis_2 99 216 159
            emphasis_3 236 166 248
        }
        table_cell_unselected {
            base 141 255 213
            background 132 131 138
            emphasis_0 220 152 141
            emphasis_1 139 204 176
            emphasis_2 99 216 159
            emphasis_3 236 166 248
        }
        list_selected {
            base 141 255 213
            background 132 131 138
            emphasis_0 220 152 141
            emphasis_1 139 204 176
            emphasis_2 99 216 159
            emphasis_3 236 166 248
        }
        list_unselected {
            base 141 255 213
            background 132 131 138
            emphasis_0 220 152 141
            emphasis_1 139 204 176
            emphasis_2 99 216 159
            emphasis_3 236 166 248
        }
        frame_selected {
            base 99 216 159
            background 0
            emphasis_0 220 152 141
            emphasis_1 139 204 176
            emphasis_2 236 166 248
            emphasis_3 0
        }
        frame_highlight {
            base 220 152 141
            background 0
            emphasis_0 236 166 248
            emphasis_1 220 152 141
            emphasis_2 220 152 141
            emphasis_3 220 152 141
        }
        exit_code_success {
            base 99 216 159
            background 0
            emphasis_0 139 204 176
            emphasis_1 132 131 138
            emphasis_2 236 166 248
            emphasis_3 168 190 255
        }
        exit_code_error {
            base 255 169 152
            background 0
            emphasis_0 70 178 135
            emphasis_1 0
            emphasis_2 0
            emphasis_3 0
        }
        multiplayer_user_colors {
            player_1 236 166 248
            player_2 168 190 255
            player_3 0
            player_4 70 178 135
            player_5 139 204 176
            player_6 0
            player_7 255 169 152
            player_8 0
            player_9 0
            player_10 0
        }
    }
}
